@import "../containers/Main/Variables";

.sidebarLinks{
  height: fit-content;
  width: 100% !important;
  min-width: unset !important;
  max-width: unset !important;
  flex: unset !important;
  background: #fff;
  padding: 10px 0;
  border-radius: $cardBorderRadius;

  li{
    padding: 0 !important;
    margin: 0 !important;
  }

  .activeLink{

    div{

      span{
        color: $mainBlue
      }
    }

    div:after, div:before{
      opacity: 1;
    }
  }

  a{
    position: relative;
    transition: $mainTransition;
    color: $colorIcons;
    padding: 0 20px;
    font-size: 16px;
    display: block;

    div{
      display: block;
      position: relative;

      span{
        position: relative;
        z-index: 2;
      }
    }

    div:after{
      opacity: 0;
      transition: $mainTransition;
      content: '';
      position: absolute;
      width: calc(100% + 40px);
      height: 100%;
      background: #E5F1FF;
      left: -20px;
      z-index: 1;
    }

    div:before{
      opacity: 0;
      transition: 0.2s all ease;
      content: '';
      position: absolute;
      width: 4px;
      height: 100%;
      background: #007bff;
      left: -20px;
      z-index: 2;
    }
  }

  a:hover{
    color: $colorIcons;
    background: $bodyBackground;
  }
}